<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TexAssistantTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TexAssistantTool.Properties.Settings>
            <setting name="TableLabelSpecified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TableCaptionSpecified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TableCenteringSpecified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TablePositionSpecified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TableCaptionPos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TablePosition1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TablePosition2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TablePosition3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FigureLabelSpecified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FigureCaptionSpecified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FigureCenteringSpecified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FigurePositionSpecified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FigureCaptionPos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FigurePosition0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FigurePosition1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FigurePosition2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FigurePosition3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TablePosition0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TeXFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FigureRelativePathSpesification" serializeAs="String">
                <value>True</value>
            </setting>
        </TexAssistantTool.Properties.Settings>
    </userSettings>
</configuration>